.App {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'MedievalSharp';
  font-size: 22px;
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}

.App-link {
  color: #61dafb;
}

.dragon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*  Mobile Layout */
.rosterDiv img {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
}

.rosterDiv ul{
  list-style: none;
}

.rosterDiv li {
  text-align: center;
}

.rosterDiv p {
  margin-left: 20px;
}

.charDiv img {
  display: block;
  width: 280px;
  height: 280px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
}