.App {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #757F9A, #D7DDE8, transparent);
  opacity: 0.88;
  background-color: grey;
}

body {
  font-family: 'MedievalSharp';
  font-size: 22px;
  /* background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%); */
  /* Photo by <a href="https://unsplash.com/@cantt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">cant</a> on <a href="https://unsplash.com/photos/white-clouds-hovering-above-grey-castle-Ipv_MNTzcQI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
  background-image: url('./images/skycastle.jpg');
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


/*  Mobile Layout */
.rosterDiv {
  padding-right: 36px; 
}
.rosterDiv img {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
}

.rosterDiv ul{
  list-style: none;
}

.rosterDiv li {
  text-align: center;
}

.rosterDiv p {
  margin-left: 20px;
}

.backButton {
    font-size: 40px;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}

.charDiv {
  height: 100vh;
  min-width: 100vw;
}

.charDiv img {
  display: block;
  width: 280px;
  height: 280px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
}